*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #303334;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #303334;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Calibri', sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    width: 100%;
}