<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Documents Manager</h2></div>

    <div>
        <h3 class="text-success">
            [[${message}]]
        </h3>
    </div>

    <div class = "row border rounded m-3 p-3">
        <th:block th:each = "doc : ${listDocs}">
            <div class = "col">
                <div>
                    <img th:src="@{/images/document.png}" width="50"/>
                </div>
                <div>
                   <a th:href="@{'/download?id='+ ${doc.id}}">[[${doc.title}]]</a>
                </div>
                <div>
                    ([[${#numbers.formatInteger(doc.size,4,'COMMA')}]] bytes)
                </div>


            </div>
        </th:block>
    </div>

    <form th:action = "@{/upload}" method = "post"
          enctype="multipart/form-data"
          style="max-width: 600px; margin: 0 auto"
    >
      <div class="border rounded m-3">
          <h2>Upload Your files:</h2>
          <p>
              <input type = "file" name = "document" required />
          </p>
          <p>
              <input type="submit" value="Upload" class="btn btn-primary">
          </p>
      </div>

    </form>

</div>
</body>
</html>