<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>OPEN<span>PICK</span></h1>
            </div>

            <ul class="navigation">
                <a href="/projects"><li>Projects</li></a>
                <a href="/users/"><li>My Profile</li></a>
                <a href="/about"><li>About</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>

        </div>

    </div>

</body>
</html>