<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open Pick</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Open Pick</h1>
<!--    <h3><a th:href="/@{/users}">List of Users</a></h3>-->
<!--   <a th:href="/@{/register}">Register</a>-->
<!--    <h3><a th:href="/@{/login}">Login</a></h3>-->
    <a class="h2" th:href="@{/login}">Login</a><br>
    <a class="h2" th:href="@{/register}">Register</a><br>
    <a class="h2" th:href="@{/users}">Manage Users: Admin only</a>


</div>

</body>
</html>