<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">

    <!--succesful pop up -->
<!--    <div th:if="${message}" class="alert alert-success text-center">-->
<!--        [[${message}]]-->
<!--    </div>-->

    <div>
        <h3>[[${currentProject.title}]]</h3>
    </div>

    <div>
        <h4>[[${currentProject.description}]]</h4>
    </div>

    <div class="m-2">
        <a class="h3" th:href="@{'/users/' + ${currentUser.id} + '/projects/'  + ${currentProject.id} + '/new'}">Add New Task</a>
    </div>

    <div>
        <h5>Tasks: </h5>
    </div>

</div>
</body>
</html>