<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>Add New Project</h2></div>

    <!--<form th:action="@{/users/save}" method="post" th:object="${user}"
          style="max-width: 500px; margin: 0 auto;"> -->

    <form th:action="@{'/users/' + ${currentUser.id} + '/projects/save'}" method="post" th:object="${projectt}"
          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{owner}" />
        <div class="border border-secondary rounded p-3">
            <!-- code for one row of input :( -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Title</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{title}" class="form-control" required minlength="1" maxlength="25"/>
                </div>
            </div>
            <!-- code for one row of input :( -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{description}" class="form-control" required minlength="1" maxlength="255" />
                </div>
            </div>
            <!-- buttons -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "..";
    }
</script>
</body>
</html>