<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up - Open Pick</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<!-- header -->
<div class="header">
  <div class="inner_header">
    <div class="logo_container">
      <h1>OPEN<span>PICK</span></h1>
    </div>

    <ul class="navigation">
      <a href="/projects/"><li>Projects</li></a>
      <a href="/about"><li>About</li></a>
      <a href="/logout"><li>Logout</li></a>
    </ul>

  </div>
</div>

<div style="color: white">.</div>

<div class="container text-center">
  <div>
    <h1>User Registration - Sign Up</h1>
  </div>
  <form th:action="@{/process_register}" th:object="${user}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">

      <div class="form-group row">
      <label class="col-4 col-form-label">Username: </label>
      <div class="col-8">
        <input type="text" th:field="*{username}" class="form-control"
               required minlength="2" maxlength="20"/>
      </div>

    </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">E-mail: </label>
        <div class="col-8">
          <input type="email" th:field="*{email}" class="form-control" required />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Password: </label>
        <div class="col-8">
          <input type="password" th:field="*{password}" class="form-control"
                 required minlength="1" maxlength="100"/>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>