<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<!-- header -->
<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>OPEN<span>PICK</span></h1>
        </div>

        <ul class="navigation">
            <a href="/projects/"><li>Projects</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>

    </div>
</div>

<div style="color: white">.</div>

<div class="container-fluid">

    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <!--<input type="hidden" th:field="*{id}"> -->
    <!--<input type="hidden" th:field="*{id}" /> -->

    <!--<form th:action="@{/users/save}" method="post" th:object="${user}"
          style="max-width: 500px; margin: 0 auto;"> -->

    <form th:action="@{'/users/save/' + ${oldId}}" method="post" th:object="${user}"
        style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <!-- code for one row of input :( -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="6" maxlength="45"/>
                </div>
            </div>
            <!-- code for one row of input :( -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Username</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{username}" class="form-control" required minlength="1" maxlength="45" />
                </div>
            </div>
            <!-- code for one row of input :( -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" required minlength="8" maxlength="15"/>
                </div>
            </div>
            <!-- code for one row of input :( -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" class="form-control" />
                </div>
            </div>
            <!-- buttons -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/users}]]";
    }
</script>
</body>
</html>